name: My first GitHub workflow
run-name: First workflow # Optional

# Events triggering the workflow
on: [push]

jobs:
  greet:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - run: echo "Hello world"